header {
  background-color: #000000;
}
.nav-item a:hover {
  color: #e29013;
}

/* main */
.main {
    background: url("../img/programacao/programacao-background.png") no-repeat 0 0;
    background-size: cover;

  }

  .main img {
    min-width: 100%;
    transform: translate(-10%, 8%);
  }
  
  .main-title {
    margin: 150px 0 50px 0;
  }
  /* course */
  .course {
    background-color: #242124;
  }
  .parallax {
    background-image: url("../img/programacao/parallax.jpg");
  }
/* area */
  .area {
    background-color: #272830;
  }
  .card-area {
    background-color: #191919;
  }

  .area-title {
    color: #ffffff;
  }
  .area p {
    color: #ffffff;
  }
  .card {
    background-color: #191919;
  }
/* teacher */
  .teacher {
    background:  linear-gradient(180deg, #383A46 0%, #000000 50%, #000000 100%);
  }

  .teacher p,
  h3 {
    color: #ffffff;
  }

  @media only screen and (max-width: 992px) {
    /* main */
    .main img {
        max-width: 100%;
        transform: translate(-5%, 7%);
      }
  }