
header {
  background-color: #041e0c;

}

/* main */
.main {
  background:  linear-gradient(180deg, #041e0c 0%, #041e0c 50%, #0a4b20 100%);
    background-size: cover;
  }

  .main img {
    min-width: 100%;
    transform: translate(-40%, 7%);
  }
  .main-title {
    margin: 150px 0 50px 0;
  }
  /* course */
  .course {
    background-color: #0A4B20;
  }

  .area {
    background-color: #033012;
  }

  .area-title {
    color: #000000;
  }
  .area p {
    color: #000000;
  }
  /* card */
  .card-area {
    background-color: #d7cbcf;
  }
  .cards {
    background-color: #d7cbcf;
  }
  /* teacher */
  .teacher {
    background:  linear-gradient(180deg, #0A4B20 0%,#000000 100%);
  }

  .teacher p,
  h3 {
    color: #ffffff;
  }

  @media only screen and (max-width: 992px) {
    /* main */
    .main img {
        max-width: 100%;
        transform: translate(-5%, 7%);
      }
  }