/* All */
h1,
h2,
h3,
p,
a {
  font-family: "Exo 2", sans-serif;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  
}
p {
  font-size: 1rem;
}

h2 {
  color: #000000;
}
/*Header */



.button {
  color: #ffffff;
}
.navbar img {
  max-width: 150px;
}

.nav-item a {
  color: #ffffff;
  line-height: 20px;
}

.nav-item a:hover {
  color: #000000;
}

/* Main */

.main h1,
p {
  color: #ffffff;
}
.main h1 {
  font-size: 3.5rem;
}

/* course */
.parallax {
  min-height: 450px;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 750px;
}

.course-title {
  color: #ffffff;
}

.about p {
  color: #ffffff;
  padding-bottom: 30px;
}

/* area */

.area {
  background-color: #101652;
  min-height: 800px;
  padding-top: 70px;
}
.area-title {
  color: #000000;
}
.area p {
  color: #000000;
}
.area-img {
  max-width: 100px;
}

/* events */

.events-title {
  color: #ffffff;
}

/* card */
.card-area {
  border-radius: 30px;
}

.card {
  transition: transform 1s;
}

.card:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  z-index: 4;
}
.cards {
  border-radius: 30px;
  max-width: 400px;
}
.carousel {
  min-height: 375px;
}



.carousel-inner {
  overflow: visible;
}

.carousel-control-prev {
  left: -10%;
  top: -25%;
  width: 10%;
}
.carousel-control-next {
  right: -10%;
  top: -25%;
  width: 10%;
}

/* teacher */

.teacher {

  padding: 10px;
}

.teacher-img {
  max-width: 150px;
}

.navbar-toggler {
  border: 1px #ffffff solid;
}

footer {
  background-color: #000000;
}

.footer {
  text-align: center;
}

footer img {
  height: 37px;
  width: 39px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* media query */

@media only screen and (max-width: 992px) {
  /* main */
  .main-title {
    margin: 20px 0 20px 0;
    text-align: center;
  }
  /* about */
  .parallax {
    margin-bottom: 30px;
    background-size: 100%;
    background-attachment: local;
  }
  /* card */
  .card {
    background-color: #d7cbcf;
    max-width: 100%;
  }

  .card-img-top {
    max-width: 100%;
  }
  .carousel {
    min-height: 1700px;
  }
  .card:hover {
    transform: scale(1);
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);
  }
  /* teacher */
  .teacher {
    text-align: center;
    align-items: center;
  }
  .teacher-img {
    max-width: 400px;
  }

  .teacher-text h3 {
    margin-top: 30px;
  }

  .teacher-text p {
    margin-top: 20px;
  }
}
#arrow {
  max-width: 65px;
  position: fixed;
  bottom: 105px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;

}

@media (max-width: 768px) {
  /* about */
  .carousel {
    min-height: 1300px;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
}

@media (max-width: 440px) {
 
  .parallax {
    background-position: top;
  }
  .carousel {
    min-height: 1000px;
  }
}

    