header {
  background-color: #E87E34;
}


/* main */
.main {

  background:  linear-gradient(180deg, #E87E34 0%, #E87E34 50%, #FF914D 100%);
    background-size: cover;
    
  }

  .main img {
    min-width: 100%;
    transform: translate(-17%, 0%);
  }
  .main-title {
    margin: 150px 0 50px 0;
  }
  /* course */
  .course {
    background-color: #FFDE59;
    background-size: cover;
  
  }

  .course p, .course-title {
    color: #000000;
  }

  .events-title {
    color: #000000;
  }
  .area {
    background: url('../img/inovacao/inovacao-background.png') no-repeat 0 0;
    background-size: cover;
  }
  .card-area {
    background-color: #EA7E16;
  }
  .area-title {
    color: #ffffff;
  }
  .area p {
    color: #ffffff;
  }
  .card {
    background-color: #EA7E16;
  }
  .parallax {
    background-image: url("../img/inovacao/parallax.jpg");
  }
  
/* teacher */
  .teacher {
    background-color: #E87E34;
    background:   linear-gradient(180deg,  #FFDE59 0%, #E87E34 100%);
  }

  .teacher p,
  h3 {
    color: #000000;
  }

  @media only screen and (max-width: 992px) {
    /* main */
    .main img {
        max-width: 100%;
        transform: translate(-5%, 7%);
      }
  }

  
  
